body    {
    background: #dcdcdc;
}
.pics   {
    padding: 10px;
    background: white;
}

.me     {
    background: white;
    margin-top: 20px;
}
.paragraph  {
    background: white;
}
.profile    {
    background: white;
}
.port   {
    background: white;
}
.contactme  {
    background: white;
}
.text   {
    background: white;
}
