body    {
    background: #dcdcdc;
}
.pics   {
    padding: 10px;
    background: white;
}

.me     {
    background: white;
    margin-top: 20px;
}
.paragraph  {
    background: white;
}
.profile    {
    background: white;
}
.port   {
    background: white;
}
.contactme  {
    background: white;
}
.text   {
    background: white;
}
h5  {
    text-align: center;
}
.myproject img {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2)
}
ul  {
    
    margin-right: 10px;
    padding: 0px;
    text-align: center;
    margin-left: 350px;
    
}
li  {
    margin-left: 20px;
    margin-top: 20px;
}


@media screen and (max-width: 768px){
    .myproject {
        margin: 5px;
    }
    #project1   {
        width: 100%;
    }
    #project2   {
        width: 100%;
    }
    #project3   {
        width: 100%;
    }
    #project4   {
        width: 100%;
    }
        

}